<body>
	

<div class="trans">
<fieldset>

 
 
<div 
	class="timeline_um-title" style="color:#f00000;font-size:26px">1955
</div>

<p>Honda es el primer fabricante de motocicletas en Japón y comienza a exportar a Estados Unidos.</p>

<div 
	class="timeline_um-title" style="color:#f00000;font-size:26px">1959
</div>

<p>Soichiro, se instala en occidente, crea la American Honda Motor Co., y produce su primer automóvil deportivo S500 y el primer camión liviano T360.

</p>

   </fieldset>
</div>

</body>
