<body class="bodyback">
<div class="colores wigth">
	
	<h1 align="center" >WELCOME MOTOSCR </h1>

</div>


<!--
<div class="container">

	<div class="col-12">

		 <div style="width:245px; background:#FFCC00; float:left;"><h1>HOME PAGE</h1></div>
		<div style="width:245px; background:#CCFF66; float:center;"><p>home works!</p></div> 
		<div class="caja"><h1>DIV1</h1></div>
		<div class="caja"><h1>DIV2</h1></div>
		<div class="caja"><h1>DIV3</h1></div>
		<div class="caja"><h1>DIV4</h1></div>
	</div>

</div>
-->
</body>